<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Id  -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let data" id={{data.id}}> {{data.id}} </td>
    </ng-container>
  
    <!-- Customer Name  -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Customer Name, </th>
      <td mat-cell *matCellDef="let data" id={{data.id}}> {{data.customer_name}} </td>
    </ng-container>
  
    <!-- No. of item  -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> No. of item </th>
      <td mat-cell *matCellDef="let data" id={{data.id}}> {{data.no_item}} </td>
    </ng-container>

    <!-- Total Amount of the Order  -->
     <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let data" id={{data.id}}> {{data.total_price}} </td>
      </ng-container>
  
    <!-- Status  -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let data" id={{data.id}} 
         class="btn btn-{{data.status}}">
        {{data.status}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="pColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: pColumns;let i=index;" 
     (click)="show($event)"></tr>
  </table>
  